{% extends 'base.html' %}

{% block title %} Detalle de reserva {% endblock %}

{% block content %}
    <p>Username de solicitante: <i>{{ reservacion.user }}</i></p>
    <p>Nombre de sala: <i>{{ reservacion.sala.nombre }}</i></p>
    <p>Cantidad de personas: <i>{{ reservacion.cantidad_personas }}</i></p>
    <p>Fecha: <i>{{ reservacion.fecha }}</i></p>
    <p>Hora de inicio: <i>{{ reservacion.hora_inicio }}</i></p>
    <p>Hora de termino: <i>{{ reservacion.hora_termino }}</i></p>
    <p>Estatus: <i>{{ reservacion.estatus }}</i></p>
    <p>
        <a href="{% url "reservaciones:list" %}">Regresar</a>
    </p>
{% endblock %}