{% extends 'base.html' %}

{% block title %} Reservaciones {% endblock %}

{% block content %}
    {% if admin %}
        <p>
            <a href="{% url "reservaciones:new" %}">Agregar reservacion</a>
        </p>
        <p>
            <a href="{% url "reservaciones:home" %}">regresar</a>
        </p>

        <ul>
            {% for reservaciones in reserva_list %}
                <li>
                    <p>{{ reservaciones.user }}</p>
                    <p>
                        <a href="{% url "reservaciones:detail" reservaciones.id %}">Ver</a> |
                        <a href="{% url "reservaciones:edit" reservaciones.id %}">Editar</a> |
                        <a href="{% url "reservaciones:delete" reservaciones.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No autorizado, por favor regrese</h1>
        <p>
{#            <a href="{% url "reservaciones:reserva" %}">Regresar</a>#}
        </p>
    {% endif %}
{% endblock %}