{% extends 'base.html' %}

{% block title %} Formulario de Reserva {% endblock %}

{% block content %}
    <p>
        <a href="{% url "reservaciones:reserva" %}">regresar</a>
    </p>
    <ul>
        {% for sala in salas_disponibles %}

            <li>
                <p>{{ sala.sala.nombre }}</p>

                <p>
                    Horario Disponibilidad: {{ sala.sala.horario_disponibilidad }} |
                    Capacidad: {{ sala.sala.capacidad }} |
                    Insumos: {% for insumo in sala.insumos %}
                                {{ insumo }},

                             {% endfor %}
                    <form method="post" action="{% url "reservaciones:crearReserva" %}">
                        {% csrf_token %}
                        <input type="hidden" name="sala" value={{ sala.sala.id }} />
                        <input type="hidden" name="horario_disponibilidad" value={{ sala.sala.horario_disponibilidad }} />
                        <input type="hidden" name="cantidad_personas" value={{ cantidad_personas }} />
                        <input type="hidden" name="insumos" value={{ insumos }} />
                        <input type="submit" value="Arrendar" />
                    </form>
                </p>


            </li>
        {% endfor %}
    </ul>
{% endblock %}