{% extends 'base.html' %}

{% block title %} Salas {% endblock %}

{% block content %}
    {% if admin %}
        <p>
            <a href="{% url "salas:new" %}">Agregar sala</a>
        </p>
        <p>
            <a href="{% url "reservaciones:home" %}">regresar</a>
        </p>

        <ul>
            {% for sala in sala_list %}
                <li>
                    <p>{{ sala.nombre }}</p>
                    <p>
                        <a href="{% url "salas:detail" sala.id %}">Ver</a> |
                        <a href="{% url "salas:edit" sala.id %}">Editar</a> |
                        <a href="{% url "salas:delete" sala.id %}">Borrar</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No autorizado, por favor regrese</h1>
        <p>
{#            <a href="{% url "reservaciones:reserva" %}">Regresar</a>#}
        </p>
    {% endif %}
{% endblock %}